@import './Variables'

#about
  margin-top: 25vh
.section
  margin: 0 10vw 0 10vw
  color: $white

.section-heading
  font-size: 2.75rem
  background-color: $sage-green
  margin-bottom: 5px
  background: linear-gradient(90deg, $sage-green 3%, $sea-green 10%)
  background-size: 100%
  background-repeat: repeat

  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.section-underline
  height: 3px
  width: 100px
  background-color: $sea-green
  background-size: 100%
  background-repeat: repeat
  margin-bottom: 2rem

.section-content
  text-align: justify
  font-size: 1.75rem
  width: 75vw
  margin: 0 auto

.stat-card
  text-align: center
  min-width: 200px
  width: 200px
  height: 100px
  padding: 1rem
  margin: 1rem
  border-radius: 3px
  background: linear-gradient(45deg, $sage-green, $sea-green)
  background-size: 100%
  background-repeat: repeat

.main-info
  font-size: 2rem
  font-weight: bold
  margin: 8px 0 0 0

.card-section
  display: flex
  flex-wrap: wrap
  justify-content: center