@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap')
  
.App-header
  height: 75%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: white
  font-family: 'Varela', sans-serif

.avatar
  height: 275px
  padding: 1.5rem
  border: 7px solid white
  border-radius: 50%

.name-headline
  margin-top: 2rem
  font-size: 3rem

.quick-about
  font-size: 1.5rem
  