@import './Variables'
@import './Header'
@import './About'

body
  font-family: 'Varela', sans-serif
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $dark-background

.App
  min-height: 100vh

a
  text-decoration: none
  color: $sage-green

footer
  text-align: center
  background-color: $dark-gray
  color: $sage-green
  padding: 10px
  a
    margin: 0 10px
